<launch>

  <!-- node which filters bad kinect images an publishes all good images
    to topic /filtered_kinect/depth/* -->
  <node name="filter_kinect" pkg="object_detection" type="filter_kinect" />

  # Executes table detection with the right config
  <node name="table_detection" pkg="object_recognition_core" type="detection" args="-c $(find object_detection)/conf/filter_kinect.table.detection.ros.ork" output="screen" respawn="false">
  </node>
  
  # Executes object detection with the right config
  <node name="object_detection" pkg="object_recognition_core" type="detection" args="-c $(find object_detection)/conf/filter_kinect.object.detection.ros.ork" output="screen" respawn="false">
  </node>

  <!-- Node publishing object information of the detected objects such as
    name, mesh, ground thruth point cloud -->
  <node pkg="object_recognition_ros" type="object_information_server" name="object_information_server" respawn="true" output="screen">
  </node>

</launch>
